---
import '@/styles/global.css'
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 | Not Found</title>
</head>
<body class="h-screen flex items-center justify-center">
    <h1 class="text-center text-4xl text-mustard">
        Page not found
    </h1>
</body>
</html>