---
import '@/styles/global.css'
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Not Found | IntoEkinZone</title>
</head>
<body class="h-screen flex items-center justify-center">
    <h1 class="text-center text-4xl text-mustard">
        Page Not Found
            <p class="mb-4">
                    <a class="text-2xl text-white hover:underline" href="/">Back to Front Page</a>
    </h1>
</body>
</html>