---
import { getYears } from "@/lib/artworks";

const years = getYears();
---

<html>
  <body class="p-8">
    <h1 class="text-2xl font-bold mb-4">Artwork Archive</h1>
    <ul class="space-y-2">
      {years.map((year) => (
        <li>
          <a class="text-blue-600 hover:underline" href={`/${year}`}>
            {year}
          </a>
        </li>
      ))}
    </ul>
  </body>
</html>
